*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  text-indent: 10px;
  position: relative;
  margin: 10px;
  background: yellow;
  background: linear-gradient(
    317deg,
    rgb(207, 192, 52) 40%,
    rgba(31, 170, 84, 0.44) 64%,
    rgba(0, 212, 255, 1) 100%
  );
}
a {
  display: flex;
  text-decoration: none;
  color: blue;
  transition: text-decoration, color 500ms ease-in-out;
}

a:hover,
a:focus {
  color: red;
  text-decoration: underline;
}

/* After & before */

a::before,
a::after {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  transition: display, color 500ms ease-in-out;
}

/* Adds and hides eyes icon after the link text */

a::before {
  margin-right: 16px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png");
  display: inline;
}

a::after {
  display: none;
  margin-left: 16px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/599/599516.png");
}

/* Show arrow icon on hover */
a:hover::after {
  display: inline-block;
}

a:hover::before {
  display: none;
}

/* campuri obligatorii */
.body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: yellowgreen;
  padding: 15px;
}

form {
  max-width: 300px;
}

input {
  padding: 8px;
  font-family: inherit;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

/* constrangeri lungime */
button {
  display: inline-flex;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #1976d2;
}

/* constrangeri valoare */

/* enabled-disabled */
.btn {
  display: inline-flex;
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  background-color: cyan;
  color: black;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: orange;
}

.btn:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

/* Example styles */
* {
  box-sizing: border-box;
}

.body1 {
  min-height: 30vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #2a2a2a;
  font-family: sans-serif;
  line-height: 1.5;
}

/* checked */
.form-input:checked {
  outline: 2px solid #2196f3;
  outline-offset: 5px;
}

/* Selecting .form-label when the checkbox preceding it in markup is checked */
.form-input:checked + .form-label {
  color: #2196f3;
}

/* Example styles */

.form2 {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

/* in/out range */
.form-input2:in-range {
  border-color: #4caf50;
}

.form-input2:out-of-range {
  border-color: #f44336;
}

.form-field2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label2 {
  margin-bottom: 8px;
  cursor: pointer;
}

.form-input2 {
  padding: 8px;
  border: 3px solid #2a2a2a;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  outline: none;
}

/* required */
.form-input2:required {
  border-color: #f44336;
  /* border: 2px solid; */
}

/* valid/invalid */
.form-input2:valid {
  border-color: #4caf50;
  /* outline: 2px solid; */
}

.form-input2:invalid {
  border-color: #f44336;
  /* outline: 2px solid; */
}

/* placeholder-shown */
.form-input2:placeholder-shown {
  border-color: blue;
}

/* Compozitia pseudo-claselor */
.form-input2:not(:placeholder-shown):required:valid {
  border-color: green;
}

.form-input2:not(:placeholder-shown):required:invalid {
  border-color: red;
}

/* :focus-within */
.form4:focus-within {
  border-color: #2196f3;
}

.form-label4:focus-within {
  color: #2196f3;
}

/* Example styles */
.form4 {
  width: 100%;
  padding: 24px;
  border-radius: 4px;
  border: 2px dashed #2a2a2a;
}

.form-label4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label-text {
  margin-bottom: 4px;
}

.form-input4 {
  padding: 8px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
